<div class="grid min-h-screen place-items-center">
    <div class="w-11/12 p-12 bg-white sm:w-8/12 md:w-1/2 lg:w-5/12">
        <h1 class="text-3xl font-semibold flex justify-center uppercase">Datos de Producto</h1>
        <form class="mt-6" action="/product/update/<%=product.id%>" method="POST">

            <label class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Nombre de Producto</label>
            <input type="text" name="name" value="<%=product.name%>"
                class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                required />

            <label class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Descripción de Producto</label>
            <input type="text" name="description" value="<%=product.description%>"
                class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                required />

            <div class="flex justify-between gap-3">
                <span class="w-1/2">
                    <label class="block text-xs font-semibold text-gray-600 uppercase">Cantidad Disponible</label>
                    <input type="number" name="quantity" min="1" value="<%=product.quantity%>"
                        class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                        required />
                </span>
                <span class="w-1/2">
                    <label class="block text-xs font-semibold text-gray-600 uppercase">Precio Unitario</label>
                    <input type="number" step="0.01" min="1" name="price" value="<%=product.price%>"
                        class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                        required />
                </span>
            </div>

            <button type="submit"
                class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-blue-600 shadow-lg focus:outline-none hover:bg-blue-500 hover:shadow-none rounded">
                Actualizar Producto
            </button>

            <a href="/product"
                class="hover:no-underline flex justify-center w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-red-600 shadow-lg focus:outline-none hover:bg-red-500 hover:shadow-none rounded">Cancelar</a>

        </form>
    </div>
</div>